In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import Imputer

In [3]:
data = pd.read_csv("C:/Users/LENOVO/Desktop/AnalyzeThis/Training_dataset_original.csv")

C:\Users\LENOVO\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.shape

(80000, 49)

In [5]:
data.describe()

,application_key,mvar2,mvar3,mvar4,mvar5,mvar14,mvar21,mvar22,mvar23,mvar24,mvar33,mvar44,default_ind
count,80000.000000,74447.000000,79499.000000,79499.000000,79499.00000,8.000000e+04,57439.000000,50876.000000,39752.000000,61098.000000,78249.000000,72255.000000,80000.000000
mean,270031.500000,1.105629,5.280955,0.474516,1.12472,1.960918e+05,57.790097,4423.856509,4305.929828,69.981834,6.996557,0.705285,0.246213
std,23094.155105,1.645299,10.815463,1.796261,5.99545,7.888377e+06,35.577165,3782.048321,3864.873106,300.080442,7.650139,0.245879,0.430806
min,230032.000000,0.000000,0.000000,0.000000,0.00000,0.000000e+00,0.170000,0.000000,0.000000,0.000000,0.083300,0.060660,0.000000
25%,250031.750000,0.140100,0.000000,0.000000,0.00000,4.261300e+04,26.930000,726.715000,541.157500,9.892500,1.166700,0.515220,0.000000
50%,270031.500000,0.538900,0.300000,0.000000,0.00000,7.234300e+04,59.690000,3974.425000,3700.000000,40.440000,3.916700,0.737030,0.000000
75%,290031.250000,1.445050,6.447000,0.000000,0.00000,1.238750e+05,86.620000,7579.297500,7520.950000,76.540000,10.666700,0.943475,0.000000
max,310031.000000,44.630100,286.858000,114.696000,226.52700,9.910000e+08,1305.250000,64800.000000,124533.330000,27867.400000,76.000000,1.000000,1.000000

In [6]:
data.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.000,0.0,0.0,0,6015,322,40369,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,230033,1846,0.8095,0.000,0.0,0.0,102,7532,3171,18234,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,230034,1745,0.4001,0.000,0.0,0.0,missing,2536,missing,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,230035,1739,0.2193,0.000,0.0,0.0,1982,26440,4955,20316,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,230036,1787,0.0118,0.225,0.0,0.0,5451,5494,5494,7987,...,0,115.019,missing,0,1,0.92665,na,na,L,0

In [7]:
data = data.replace(['missing','na'], np.nan)

In [8]:
data.describe()

,application_key,mvar2,mvar3,mvar4,mvar5,mvar14,mvar21,mvar22,mvar23,mvar24,mvar33,mvar44,default_ind
count,80000.000000,74447.000000,79499.000000,79499.000000,79499.00000,8.000000e+04,57439.000000,50876.000000,39752.000000,61098.000000,78249.000000,72255.000000,80000.000000
mean,270031.500000,1.105629,5.280955,0.474516,1.12472,1.960918e+05,57.790097,4423.856509,4305.929828,69.981834,6.996557,0.705285,0.246213
std,23094.155105,1.645299,10.815463,1.796261,5.99545,7.888377e+06,35.577165,3782.048321,3864.873106,300.080442,7.650139,0.245879,0.430806
min,230032.000000,0.000000,0.000000,0.000000,0.00000,0.000000e+00,0.170000,0.000000,0.000000,0.000000,0.083300,0.060660,0.000000
25%,250031.750000,0.140100,0.000000,0.000000,0.00000,4.261300e+04,26.930000,726.715000,541.157500,9.892500,1.166700,0.515220,0.000000
50%,270031.500000,0.538900,0.300000,0.000000,0.00000,7.234300e+04,59.690000,3974.425000,3700.000000,40.440000,3.916700,0.737030,0.000000
75%,290031.250000,1.445050,6.447000,0.000000,0.00000,1.238750e+05,86.620000,7579.297500,7520.950000,76.540000,10.666700,0.943475,0.000000
max,310031.000000,44.630100,286.858000,114.696000,226.52700,9.910000e+08,1305.250000,64800.000000,124533.330000,27867.400000,76.000000,1.000000,1.000000

In [9]:
data.isna().sum()

application_key        0
mvar1               3639
mvar2               5553
mvar3                501
mvar4                501
mvar5                501
mvar6              18964
mvar7               7394
mvar8              18964
mvar9              11408
mvar10               502
mvar11             44819
mvar12             14078
mvar13              8352
mvar14                 0
mvar15             32067
mvar16             18510
mvar17             15846
mvar18             14771
mvar19                 4
mvar20               502
mvar21             22561
mvar22             29124
mvar23             40248
mvar24             18902
mvar25              7706
mvar26             10610
mvar27             13209
mvar28               502
mvar29               502
mvar30             36417
mvar31             56218
mvar32              7706
mvar33              1751
mvar34               502
mvar35             33014
mvar36              2898
mvar37              7706
mvar38               502
mvar39              6040
mvar40             62557
mvar41             54578
mvar42              1901
mvar43               818
mvar44              7745
mvar45             44855
mvar46             22789
mvar47                 0
default_ind            0
dtype: int64

In [10]:
data['mvar2'].fillna(data['mvar2'].mean(), inplace=True)

In [11]:
data['mvar3'].fillna(data['mvar3'].mean(), inplace=True)

In [12]:
data['mvar4'].fillna(data['mvar4'].mean(), inplace=True)

In [13]:
data['mvar5'].fillna(data['mvar5'].mean(), inplace=True)

In [14]:
data['mvar14'].fillna(data['mvar14'].mean(), inplace=True)

In [15]:
data['mvar21'].fillna(data['mvar21'].mean(), inplace=True)

In [16]:
data['mvar22'].fillna(data['mvar22'].mean(), inplace=True)

In [17]:
data['mvar23'].fillna(data['mvar23'].mean(), inplace=True)

In [18]:
data['mvar24'].fillna(data['mvar24'].mean(), inplace=True)

In [19]:
data['mvar33'].fillna(data['mvar33'].mean(), inplace=True)

In [20]:
data['mvar44'].fillna(data['mvar44'].mean(), inplace=True)

In [21]:
data.isna().sum()

application_key        0
mvar1               3639
mvar2                  0
mvar3                  0
mvar4                  0
mvar5                  0
mvar6              18964
mvar7               7394
mvar8              18964
mvar9              11408
mvar10               502
mvar11             44819
mvar12             14078
mvar13              8352
mvar14                 0
mvar15             32067
mvar16             18510
mvar17             15846
mvar18             14771
mvar19                 4
mvar20               502
mvar21                 0
mvar22                 0
mvar23                 0
mvar24                 0
mvar25              7706
mvar26             10610
mvar27             13209
mvar28               502
mvar29               502
mvar30             36417
mvar31             56218
mvar32              7706
mvar33                 0
mvar34               502
mvar35             33014
mvar36              2898
mvar37              7706
mvar38               502
mvar39              6040
mvar40             62557
mvar41             54578
mvar42              1901
mvar43               818
mvar44                 0
mvar45             44855
mvar46             22789
mvar47                 0
default_ind            0
dtype: int64

In [22]:
data.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.000,0.0,0.0,0,6015,322,40369,...,1,73.78,82.547,0.08696,10,0.63899,NaN,0,C,0
1,230033,1846,0.8095,0.000,0.0,0.0,102,7532,3171,18234,...,0,99.129,NaN,0,13,0.63836,NaN,NaN,L,1
2,230034,1745,0.4001,0.000,0.0,0.0,NaN,2536,NaN,NaN,...,0,NaN,29.29,0,1,1.00000,NaN,0,C,1
3,230035,1739,0.2193,0.000,0.0,0.0,1982,26440,4955,20316,...,0,96.272,NaN,0.15385,3,0.53241,0,0,L,0
4,230036,1787,0.0118,0.225,0.0,0.0,5451,5494,5494,7987,...,0,115.019,NaN,0,1,0.92665,NaN,NaN,L,0

In [23]:
data['mvar1'].fillna(1736, inplace=True)

In [24]:
data.mvar1.mode()

0    1736
dtype: object

In [25]:
data.mvar6.mode()

0    0
dtype: object

In [26]:
data['mvar6'].fillna(0, inplace=True)

In [27]:
data.mvar7.describe()

count     72606
unique    28564
top           0
freq       2988
Name: mvar7, dtype: object

In [28]:
data['mvar7'].fillna(0, inplace=True)

In [29]:
data.mvar8.describe()

count     61036
unique    15704
top           0
freq       2631
Name: mvar8, dtype: object

In [30]:
data['mvar8'].fillna(0, inplace=True)

In [31]:
data.mvar9.describe()

count     68592
unique    29578
top         297
freq       1208
Name: mvar9, dtype: object

In [32]:
data['mvar9'].fillna(297, inplace=True)

In [33]:
data.mvar10.describe()

count     79498
unique    39639
top           0
freq      10330
Name: mvar10, dtype: object

In [34]:
data['mvar10'].fillna(0, inplace=True)

In [35]:
data.mvar11.describe()

count     35181
unique    11543
top           0
freq         98
Name: mvar11, dtype: object

In [36]:
data['mvar11'].fillna(0, inplace=True)

In [37]:
data.mvar12.describe()

count     65922
unique    20078
top           0
freq       5111
Name: mvar12, dtype: object

In [38]:
data['mvar12'].fillna(0, inplace=True)

In [39]:
data.mvar13.describe()

count     71648
unique    27225
top           0
freq      12838
Name: mvar13, dtype: object

In [40]:
data['mvar13'].fillna(0, inplace=True)

In [41]:
data.mvar15.describe()

count      47933
unique     33069
top       346850
freq         101
Name: mvar15, dtype: object

In [42]:
data['mvar15'].fillna(346850, inplace=True)

In [43]:
data.mvar16.describe()

count     61490
unique       12
top           0
freq      51396
Name: mvar16, dtype: object

In [44]:
data['mvar16'].fillna(0, inplace=True)

In [45]:
data.mvar17.describe()

count     64154
unique       15
top           0
freq      52719
Name: mvar17, dtype: object

In [46]:
data['mvar17'].fillna(0, inplace=True)

In [47]:
data.mvar18.describe()

count     65229
unique       16
top           0
freq      53325
Name: mvar18, dtype: object

In [48]:
data['mvar18'].fillna(0, inplace=True)

In [49]:
data.mvar19.describe()

count     79996
unique       49
top           0
freq      38082
Name: mvar19, dtype: int64

In [50]:
data['mvar19'].fillna(0, inplace=True)

In [51]:
data.mvar20.describe()

count     79498
unique       28
top           0
freq      44996
Name: mvar20, dtype: object

In [52]:
data['mvar20'].fillna(0, inplace=True)

In [53]:
data.mvar25.describe()

count     72294
unique     5425
top         183
freq        382
Name: mvar25, dtype: object

In [54]:
data['mvar25'].fillna(183, inplace=True)

In [55]:
data.mvar25.describe()

count     80000
unique     5426
top         183
freq       7706
Name: mvar25, dtype: int64

In [56]:
data.mvar26.describe()

count     69390
unique      619
top         183
freq        568
Name: mvar26, dtype: object

In [57]:
data.mvar27.describe()

count     66791
unique      578
top         183
freq        619
Name: mvar27, dtype: object

In [58]:
data.mvar28.describe()

count     79498
unique       97
top       30386
freq      22189
Name: mvar28, dtype: object

In [59]:
data.mvar29.describe()

count     79498
unique      668
top        3772
freq        398
Name: mvar29, dtype: object

In [60]:
data.mvar30.describe()

count     43583
unique      279
top        3711
freq        424
Name: mvar30, dtype: object

In [61]:
data.mvar31.describe()

count     23782
unique      412
top        3772
freq        190
Name: mvar31, dtype: object

In [62]:
data.mvar32.describe()

count     72294
unique     2837
top           6
freq        327
Name: mvar32, dtype: object

In [63]:
data.mvar34.describe()

count     79498
unique       18
top           0
freq      67048
Name: mvar34, dtype: object

In [64]:
data.mvar35.describe()

count     46986
unique       11
top           0
freq      40222
Name: mvar35, dtype: object

In [65]:
data.mvar36.describe()

count     77102
unique       70
top           3
freq       9360
Name: mvar36, dtype: object

In [66]:
data.mvar37.describe()

count     72294
unique       55
top           0
freq      16277
Name: mvar37, dtype: object

In [67]:
data.mvar38.describe()

count     79498
unique       61
top           2
freq      12032
Name: mvar38, dtype: object

In [68]:
data.mvar39.describe()

count     73960
unique       15
top           0
freq      68827
Name: mvar39, dtype: object

In [69]:
data.mvar40.describe()

count     17443
unique    13623
top         100
freq       2291
Name: mvar40, dtype: object

In [70]:
data.mvar41.describe()

count     25422
unique    19477
top         100
freq        698
Name: mvar41, dtype: object

In [71]:
data.mvar42.describe()

count     78099
unique     1084
top           0
freq      24305
Name: mvar42, dtype: object

In [72]:
data.mvar43.describe()

count     79182
unique       59
top           0
freq       9973
Name: mvar43, dtype: object

In [73]:
data.mvar45.describe()

count     35145
unique        6
top           0
freq      32905
Name: mvar45, dtype: object

In [74]:
data.mvar46.describe()

count     57211
unique        8
top           0
freq      52381
Name: mvar46, dtype: object

In [75]:
data['mvar26'].fillna(183, inplace=True)

In [76]:
data['mvar27'].fillna(183, inplace=True)

In [77]:
data['mvar28'].fillna(30386, inplace=True)

In [78]:
data['mvar29'].fillna(3772, inplace=True)

In [79]:
data['mvar30'].fillna(3711, inplace=True)

In [80]:
data['mvar31'].fillna(3772, inplace=True)

In [81]:
data['mvar32'].fillna(6, inplace=True)

In [82]:
data['mvar34'].fillna(0, inplace=True)

In [83]:
data['mvar35'].fillna(0, inplace=True)

In [84]:
data['mvar36'].fillna(3, inplace=True)

In [85]:
data['mvar37'].fillna(0, inplace=True)

In [86]:
data['mvar38'].fillna(2, inplace=True)

In [87]:
data['mvar39'].fillna(0, inplace=True)

In [88]:
data['mvar40'].fillna(100, inplace=True)

In [89]:
data['mvar41'].fillna(100, inplace=True)

In [90]:
data['mvar42'].fillna(0, inplace=True)

In [91]:
data['mvar43'].fillna(0, inplace=True)

In [92]:
data['mvar45'].fillna(0, inplace=True)

In [93]:
data['mvar46'].fillna(0, inplace=True)

In [94]:
data.isna().sum()

application_key    0
mvar1              0
mvar2              0
mvar3              0
mvar4              0
mvar5              0
mvar6              0
mvar7              0
mvar8              0
mvar9              0
mvar10             0
mvar11             0
mvar12             0
mvar13             0
mvar14             0
mvar15             0
mvar16             0
mvar17             0
mvar18             0
mvar19             0
mvar20             0
mvar21             0
mvar22             0
mvar23             0
mvar24             0
mvar25             0
mvar26             0
mvar27             0
mvar28             0
mvar29             0
mvar30             0
mvar31             0
mvar32             0
mvar33             0
mvar34             0
mvar35             0
mvar36             0
mvar37             0
mvar38             0
mvar39             0
mvar40             0
mvar41             0
mvar42             0
mvar43             0
mvar44             0
mvar45             0
mvar46             0
mvar47             0
default_ind        0
dtype: int64

In [95]:
data.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.000,0.0,0.0,0,6015,322,40369,...,1,73.78,82.547,0.08696,10,0.63899,0,0,C,0
1,230033,1846,0.8095,0.000,0.0,0.0,102,7532,3171,18234,...,0,99.129,100,0,13,0.63836,0,0,L,1
2,230034,1745,0.4001,0.000,0.0,0.0,0,2536,0,297,...,0,100,29.29,0,1,1.00000,0,0,C,1
3,230035,1739,0.2193,0.000,0.0,0.0,1982,26440,4955,20316,...,0,96.272,100,0.15385,3,0.53241,0,0,L,0
4,230036,1787,0.0118,0.225,0.0,0.0,5451,5494,5494,7987,...,0,115.019,100,0,1,0.92665,0,0,L,0

In [96]:
data2 = pd.read_csv("C:/Users/LENOVO/Desktop/AnalyzeThis/Training_dataset_original.csv")

In [97]:
data2=data2.dropna()

In [98]:
data2.shape

(33587, 49)

now we have data2 and data. they both do not have any missing value but their size are different
do these things too
1) use function (imputer) to replace na values
2) try replace the unknown values with median too
3) use threshold values to increASE efficincy
4) use logistic regression
5) try to fill the missing values using a model...refer to